body {
    background-color: lightgray;
}

div {
    border: 1px solid Chocolate;
}


/* Navigation Section */

.top-navigation {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #838994;
    letter-spacing: 0.03em;
}

.links {
    float: right;
    margin-top: 25px;
}

.links > li {
    display: inline-block;
    margin-left: 25px;
}

.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
    padding: 0px 15px;
}

.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
}

.logo {
    margin-top: 14px;
}
